*{
    box-sizing: border-box;
}

body{
    text-align: center;
    color: $main-color;
    @media screen and (max-width: 900px) {
        font-size: 20px;
    }
}
.hidden{
    display: none;
}

ul{
    margin-top: 0px;
}
.text{
    max-width: 900px;
    margin: 0 auto;
}

.head{
    padding: 150px 0;

    .title{
        @media screen and (min-width: 550px) {
            font-size: 2.8em;
        }
    }
}

.toggles{
    cursor: pointer;
}

.close{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toggler{
    cursor: pointer;
}

.water-scrollable{
    position: relative;
    line-height: 0;
    width: 100%;
    svg{
        width: 100%;
        height: 100%;
    }
}

.overlay{
    display: none;
    padding: 20px;
    width: 80%;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 100;
    background: rgba(white, .9);
    overflow: auto;

    &.open{
        display: block;
    }

    .close{
        position: absolute;
        top: 3px;
        right: 10px;
        cursor: pointer;
    }
}

#fish-overlay,
#loupe-overlay{
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: white;
    overflow-y: auto;
    h2{
        margin-bottom: 20px;
    }
    svg{
        margin: 30px 0;
    }
}

#fisch_mp{
    max-width: 1000px;
}

.legend{
    font-size: .7em;
    text-align: left;
}

.flex{
    @include flexbox(row, nowrap, space-between, flex-start);
    max-width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 1500px) {
        flex-wrap: wrap;
    }
    img{
        width: 200px;
    }
    .img{
        padding-right: 30px;
    }
    .list{
            width: calc(100% - 230px);
    }
}
.flex-loupe{
    div{
        width: 100%;
        @media screen and (min-width: 1501px) {
            width: 50%;
        }
    }
    .svg_holder{
        padding-right: 30px;
    }
}
#sources,
#solution{
    text-align: left;

    h2{
        text-align: center;
    }
}

#fish_dead{
    max-width: 800px;
    width: 80%;
}
.particle-info{
    width: 80%;
}
.max-width{
    max-width: 80%;
    margin: 0 auto;
}
